# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\d9-zone\smart_car\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
